<div layout="column" layout-fill>
  <md-content class="md-padding">
	<md-list>
	  <md-item ng-repeat="item in data.db">
		 <md-item-content>
            <section layout="row" layout-sm="column" layout-align="center center">
			<div class="md-tile-content">
			  <h3>{{item.cn}}</h3>
                <p ng-if="item.type == 'V'">
                    Valid Certificate
                </p>
                <p ng-if="item.type == 'R'">
                    Revoked Certificate <br />
                    Revoked on: {{item.revdate | date}}
                </p>
                <p ng-if="item.type == 'E'">
                    Expired Certificate
                </p>
                <p>Expires on: {{item.expdate | date}}</p>
                <p>E-mail: {{item.email}}</p>
                <p>Serial ID: {{item.serial}}</p>
			</div>
            <section layout="row" layout-sm="column" layout-align="left">
                <md-button class="md-raised" style="padding-right: 20px;">Details</md-button>
                <md-button class="md-raised md-primary">Extend</md-button>
                <md-button ng-disabled="item.type == 'R'" class="md-raised md-warn">Revoke</md-button>
            </section>
            </section>
         </md-item-content>
	  </md-item>
	</md-list>
  </md-content>
</div>
