<ion-view title="yapki">

	<ion-content class="has-header padding">

		<div class="row"><div class="col">
			<h3>PKI</h3>
			<ion-list>
				<a href="#/mcb/stamm" class="item item-icon-left"><i class="icon ion-ios7-people"></i>Stammverein</a>
				<a href="#/mcb/alti" class="item item-icon-left"><i class="icon ion-ios7-people"></i>Alti Garde</a>
				<a href="#/mcb/jungi" class="item item-icon-left"><i class="icon ion-ios7-people"></i>Jungi Garde</a>
                <a href="#/mcb/msgs" class="item item-icon-left"><i class="icon ion-chatbubble-working"></i>Mäldige</a>
			</ion-list>
		</div></div>

		<div class="row"><div class="col">
			<div ng-if="!authenticated">Mäld dy z erscht a wenn de e Märtplätzler bisch, ansunschte kasch allgemeini Informatione aluege.</div>
			<div ng-if="authenticated">Du bisch agmäldet als <span ng-bind="mcbuser.regEmail"></span></div>
			<br /><br />
		</div></div>

	</ion-content>

</ion-view>
