<div layout="column" layout-fill>

	<md-toolbar>
		<div class="md-toolbar-tools">
        <md-button class="menu-icon" ng-click="toggleLeft()"
							class="md-primary" hide-gt-md aria-label="Toggle Menu">
            <i class="flaticon-menu55"></i>
        </md-button>
				<span>yapki - Yet Another PKI</span>
		</div>
	</md-toolbar>

	<md-content flex class="md-padding">
		<div layout="column">
			<section layout="row" flex>
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex>
					<md-toolbar class="md-theme-indigo">
						<h3 class="md-toolbar-tools">Features</h3>
					</md-toolbar>
					<md-content class="md-padding">
						<p show-gt-md>
							<md-list>
							<md-item>
								<md-item-content>
									<md-button ui-sref="menu.db" ng-click="toggleLeft()">Database</md-button>
								</md-item-content>
							</md-item>
							<md-item>
								<md-item-content>
									<md-button ui-sref="menu.req" ng-click="toggleLeft()">Request</md-button>
								</md-item-content>
							</md-item>
							<md-item>
								<md-item-content>
									<md-button ui-sref="menu.help" ng-click="toggleLeft()">Help</md-button>
								</md-item-content>
							</md-item>
							</md-list>
						</p>
					</md-content>
				</md-sidenav>
				<div layout="column" layout-fill>
					<md-content class="md-padding">
                        <div ui-view="menuContent"></div>
					</md-content>
				</div>
			</section>
		</div>
	</md-content>
</div>