<div layout="column" layout-fill>
  <md-content class="md-padding">

    <p>Request new Certificate</p>
       <div layout layout-sm="column">
    <md-input-container flex>
          <label>Common Name</label>
    <INPUT ng-model="user.commonname" placeholder="Common Name">
    </md-input-container>
    <md-input-container flex>
          <label>Organizational Name</label>
    <INPUT ng-model="user.organizationname" placeholder="yafra.org">
    </md-input-container>


  <md-select placeholder="Pick" ng-model="countryName">
    <md-option value="CH">Switzerland</md-option>
    <md-option value="DE">Germany</md-option>
    <md-option value="FR">France</md-option>
    <md-option value="GB">United Kingdom</md-option>
    <md-option value="US">United States</md-option>
  </md-select>
    </div>
    <md-input-container>
    <INPUT NAME='localityName' VALUE="Basel" TYPE="text" SIZE="20" MAXLENGTH="30">
    </md-input-container>
    <md-input-container>
    <INPUT NAME='stateOrProvinceName' VALUE="BS" TYPE="text" SIZE="10" MAXLENGTH="30">
    </md-input-container>
    <md-input-container>
    <INPUT NAME='organizationalUnitName' VALUE="User" TYPE="text" SIZE="20" MAXLENGTH="30">
    </md-input-container>
    <md-input-container>
    <INPUT NAME="emailAddress" VALUE="" TYPE="email" SIZE="20" MAXLENGTH="70">
    </md-input-container>
  </md-content>
</div>