<div layout="column" layout-fill>
  <md-content class="md-padding">

    <p>Request new Certificate</p>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Common Name</label>
            <INPUT ng-model="user.commonname" placeholder="Common Name">
        </md-input-container>
        <md-input-container flex>
            <label>Organizational Name</label>
            <INPUT ng-model="user.organizationname" placeholder="yafra.org">
        </md-input-container>
        <md-select placeholder="Pick" ng-model="countryName" flex>
            <md-option value="CH">Switzerland</md-option>
            <md-option value="DE">Germany</md-option>
            <md-option value="FR">France</md-option>
            <md-option value="GB">United Kingdom</md-option>
            <md-option value="US">United States</md-option>
        </md-select>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Locality</label>
            <INPUT ng-model='localityName' placeholder="New York">
        </md-input-container>
        <md-input-container flex>
            <label>State of Province</label>
            <INPUT ng-model='stateOrProvinceName' placeholder="NY">
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Organizational Unit Name</label>
            <INPUT ng-model='organizationalUnitName' placeholder="System Administration">
        </md-input-container>
        <md-input-container flex>
            <label>e-mail</label>
            <INPUT ng-model="emailAddress" TYPE="email">
        </md-input-container>
    </div>
    <div flow-init>
        <input type="file"/>
    </div>
      <br />
    <md-button ng-click="submit()">Submit request</md-button>
  </md-content>
</div>