/* Toolbar area
.ng-scope {
    height: 100% !important;
    min-height: 400px !important;
    max-height: 100% !important;
}
*/

/* Sidenav area

*/

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

