/* Toolbar area */
.ng-scope {
    min-height: 200px !important;
    height: 85vw !important;
    max-height: 400px !important;
}


/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

